@import url("https://fonts.googleapis.com/css2?family=Palanquin+Dark&family=Rubik+Dirt&display=swap");

html {
    font-size: 62.5%;
}

:root {
    --main-color: 105, 103, 101;
    --main-grade1: 175, 173, 172;
    --main-grade2: 235, 234, 234;
    --secondary-color: 192, 53, 47;
    --third-color: 197, 164, 131;
    --text-color: 247, 245, 243;
    --text-dark: 37, 31, 24;
    --accent-color: 57, 170, 173;
}

#header {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    top: 0;
    z-index: 1;
}

.header-footer {
    background-color: rgb(var(--main-color));
}

body {
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 1.6rem;
    background-color: rgb(var(--main-grade2));
    color: Blue; 
}

#nav-logo {
    text-decoration: none;
}

#nav-logo > h1 {
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 200;
    font-size: 1.6rem;
    color: rgb(var(--text-color));
    padding: 20px;
}

.nav-list {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    text-decoration: none;
    list-style-type: none;
    color: rgb(var(--text-color));
    padding: 20px;
}

.nav-list > li {
    margin-left: 10px;
}

.splash {
    position: relative;
    top: 75px;
    height: 300px;
    width: 100%;
    background: url(../assets/images/Splash_Alfa_Romeo_2000x.jpg) center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.skrt-box {
    height: 90px;
    width: 275px;
    background-color: rgba(var(--main-color), 0.7);
    font-family: 'Rubik Dirt', cursive;
    font-weight: 200;
    font-size: 9rem;
    color: rgb(var(--secondary-color));
    display: flex;
    justify-content: center;
    align-items: flex-start;
    }

.modl-klub-box {
    height: 70px;
    width: 275px;
    background-color: rgba(var(--main-color), 0.7);
    font-family: 'Rubik Dirt', cursive;
    font-weight: 200;
    font-size: 5rem;
    color: rgb(var(--secondary-color));
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

@media screen and (max-width: 1500px) {
    #online-section-container {
       flex-direction: column;
       align-items: center;
       justify-content: space-around;
    }
    #online-section {
        height: 600px;
    }

    #oto-section-container {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
     }
     #oto-section {
         height: 600px;
     }
}

#online-section {
    background-color: rgb(var(--main-grade1));
}

#online-section-container {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.online-part {
    height: 250px;
    width: 500px;
    background-color: yellow;
}

#oto-section {
    background-color: rgb(var(--main-grade2));
}

#oto-section-container {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.oto-part {
    height: 250px;
    width: 500px;
    background-color: yellow;
}

#transmissions-section {
    height: 150px;
    background-color: rgb(var(--main-grade1));
    color: rgb(var(--text-color))
}

#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#checkbox-container {
    display: flex;
    flex-direction: row;
}

#footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#socials-container {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.socials-links {
    color: rgb(var(--text-color));
}

#no-socials {
    height: 85vh;
    display: flex;
    background-color: rgb(var(--main-grade1));
    color: rgb(var(--text-dark));
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#this-is-a-box {
    font-size: 6rem;
}

#why-box {
    height: 40px;
    font-size: 1.6rem;
    padding: 22px;
}