@import url("https://fonts.googleapis.com/css2?family=Palanquin+Dark&family=Rubik+Dirt&display=swap");

html {
    font-size: 62.5%;
}

#header {
    display: flex;
    justify-content: space-between;
}

.header-footer {
    background-color: rgb(83, 56, 56);
}

body {
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 1.6rem;
    color: Blue;
}

#nav-logo {
    text-decoration: none;
}

#nav-logo > h1 {
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 200;
    font-size: 1.6rem;
    color:rgb(255, 255, 255);
    padding: 20px;
}

.nav-list {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    text-decoration: none;
    list-style-type: none;
    color:rgb(255, 255, 255);
    padding: 20px;
}

.nav-list > li {
    margin-left: 10px;
}

.splash {
    height: 300px;
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.skrt-box {
    height: 90px;
    width: 275px;
    background-color: rgba(83, 56, 56, 0.3);
    font-family: 'Rubik Dirt', cursive;
    font-weight: 200;
    font-size: 9rem;
    color:rgb(238, 88, 88);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    }

.modl-klub-box {
    height: 90px;
    width: 275px;
    background-color: rgba(83, 56, 56, 0.3);
    font-family: 'Rubik Dirt', cursive;
    font-weight: 200;
    font-size: 5rem;
    color:rgb(238, 88, 88);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}