@import url("https://fonts.googleapis.com/css2?family=Palanquin+Dark&family=Rubik+Dirt&display=swap");

html {
    font-size: 62.5%;
}

#header {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header-footer {
    background-color: rgba(117, 129, 133, 1.0);
}

body {
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 1.6rem;
    color: Blue;
}

#nav-logo {
    text-decoration: none;
}

#nav-logo > h1 {
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 200;
    font-size: 1.6rem;
    color: rgba(253, 255, 252, 1.0);
    padding: 20px;
}

.nav-list {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    text-decoration: none;
    list-style-type: none;
    color:rgba(253, 255, 252, 1.0);
    padding: 20px;
}

.nav-list > li {
    margin-left: 10px;
}

.splash {
    height: 300px;
    width: 100%;
    background: url(../assets/images/Splash_Alfa_Romeo_2000x.jpg) center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.skrt-box {
    height: 90px;
    width: 275px;
    background-color: rgba(117, 129, 133, 0.7);
    font-family: 'Rubik Dirt', cursive;
    font-weight: 200;
    font-size: 9rem;
    color: rgba(213, 77, 72, 1.0);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    }

.modl-klub-box {
    height: 70px;
    width: 275px;
    background-color: rgba(117, 129, 133, 0.7);
    font-family: 'Rubik Dirt', cursive;
    font-weight: 200;
    font-size: 5rem;
    color:rgba(213, 77, 72, 1.0);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#online-section {
    background-color: rgba(117, 129, 133, 0.7);
}

#one-to-one-section {
    background-color: rgba(117, 129, 133, 0.5);
}

#transmissions-section {
    background-color: rgba(117, 129, 133, 0.7);
}

#footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#socials-container {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.socials-links {
    color: rgba(253, 255, 252, 1.0);
}

#no-socials {
    height: 85vh;
    display: flex;
    background-color: rgba(117, 129, 133, 0.7);
    color: rgba(25, 18, 17, 1.0);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#this-is-a-box {
    font-size: 6rem;
}

#why-box {
    height: 40px;
    font-size: 1.6rem;
    padding: 22px;
}