@import url("https://fonts.googleapis.com/css2?family=Palanquin+Dark&family=Rubik+Dirt&display=swap");

body {
    font-family: 'Palanquin Dark', sans-serif;
    color: Blue;
}

#nav-logo {
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 200;
    font-size: 2rem;
    color:rgb(238, 88, 88);
}

#splash-text {
    font-family: 'Rubik Dirt', cursive;
    font-weight: 200;
    font-size: 4rem;
    color:rgb(238, 88, 88);
}

#splash-contain {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#splash-image {
    height: 600px;
    width: 100%;   
}

.responsive-image {
    width: 100%;
}

#splash-cover {
    font-size: 1rem;
    font-family: 'Palanquin Dark', sans-serif;
    width: 600px;
    height: 200px;
    top: 150px;
    left: 30px;
    position: absolute;
}