@import url("https://fonts.googleapis.com/css2?family=Palanquin+Dark&family=Rubik+Dirt&display=swap");

html {
    font-size: 62.5%;
}

:root {
    --main-color: 105, 103, 101;
    --main-grade1: 175, 173, 172;
    --main-grade2: 235, 234, 234;
    --secondary-color: 192, 53, 47;
    --third-color: 197, 164, 131;
    --text-color: 247, 245, 243;
    --text-dark: 37, 31, 24;
    --accent-color: 57, 170, 173;
}

a:hover {
    color: rgb(var(--secondary-color));
}

#nav-logo > h1:hover {
    color: rgb(var(--secondary-color));
}

#header {
    height: 8.5rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    top: 0;
    z-index: 1;
}

.header-footer {
    background-color: rgb(var(--main-color));
}

.header-div {
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 1.6rem;
    background-color: rgb(var(--main-grade2));
    color: Blue; 
}

#nav-logo {
    text-decoration: none;
}

#nav-logo > h1 {
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 200;
    font-size: 1.6rem;
    color: rgb(var(--text-color));
    padding: 2rem;
}

.nav-list {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-list > li {
    margin-left: 1rem;
    list-style: none;
}

.nav-item {
    text-decoration: none;
    color: rgb(var(--text-color));
}

.nav-item > h1 {
    font-size: 1.6rem;
    font-weight: 200;
    padding: 1rem;
}

#splash-section {
    height: 52.5rem;
}

.splash {
    position: relative;
    top: 7.5rem;
    height: 45rem;
    width: 100vw;
    background: url(../assets/images/Splash_Alfa_Romeo_2000x.jpg) center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.skrt-box {
    height: 9rem;
    width: 27.5rem;
    background-color: rgba(var(--main-color), 0.5);
    font-family: 'Rubik Dirt', cursive;
    font-weight: 200;
    font-size: 9rem;
    color: rgb(var(--secondary-color));
    display: flex;
    justify-content: center;
    align-items: flex-start;
    }

.modl-klub-box {
    height: 7rem;
    width: 27.5rem;
    background-color: rgba(var(--main-color), 0.5);
    font-family: 'Rubik Dirt', cursive;
    font-weight: 200;
    font-size: 5rem;
    color: rgb(var(--secondary-color));
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.section-head {
    font-family: 'Rubik Dirt', cursive;
    font-weight: 200;
    font-size: 3rem;
    color: rgb(var(--secondary-color));
    text-align: center;
}

#online-section {
    background-color: rgb(var(--main-grade1));
    display: flex;
    flex-direction: column;
}

#online-section-container {
    height: 270rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.online-part {
    height: 90rem;
    width: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-box {
    height: 45rem;
    width: 45rem;
}

/*#otb-part {
    display: flex;
    flex-direction: row-reverse;
}*/

.online-img {
    max-width: 45rem;
    max-height: 45rem;
}

.online-text {
    width: 45rem;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(var(--text-color));
}

.online-text > h3 {
    font-weight: 200;
}

#oto-section {
    background-color: rgb(var(--main-grade2));
}

#oto-section-container {
    height: 45rem;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.oto-part {
    height: 30rem;
    width: 50rem;
    display: flex;
}

.oto-img {
    max-width: 30rem;
    max-height: 30rem;
}

.oto-text {
    max-height: 30rem;
    width: 15rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: rgb(var(--text-dark));
}

.oto-links {
    color:rgb(var(--text-dark))
}

#beer-part {
    flex-direction: row-reverse;
}

#transmissions-section {
    height: 30rem;
    background-color: rgb(var(--main-grade1));
    color: rgb(var(--text-color));
}

#transmissions-centering {
    display: flex;
    align-items: center;
    justify-content: center;
}

#transmissions-container {
    width: 70rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 228, 196, 0.3);
}

.transmissions-guide > p {
    max-width: 10rem;
}

.form-part {
    padding: 2rem;
}

#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#checkbox-container {
    display: flex;
    flex-direction: row;
}

#footer {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#socials-container {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.socials-links {
    color: rgb(var(--text-color));
}

#no-socials {
    height: 85vh;
    display: flex;
    background-color: rgb(var(--main-grade1));
    color: rgb(var(--text-dark));
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#this-is-a-box {
    font-size: 6rem;
}

#why-box {
    height: 4rem;
    font-size: 1.6rem;
    padding: 2rem;
}


/*@media screen and (max-width: 1500px) {
    #oto-section-container {
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
     }
     #oto-section {
         height: 600px;
     }
}
*/